{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="col-8 offset-2 my-4">
        <div class="card">
            <h2 class="card-header">
                <i class="bi bi-list-ul"></i>
                Component Search
            </h2>



            {% for component in components %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="row"><div class="card-group">
                {% endif %}

                    <div class="card" style="border-top: none; border-radius: 0px;">
                        <img src="{{ component.image.url }}" class="card-img-top px-4 py-2">

                        <div class="card-body">
                            <h5 class="card-title">{{ component.name }}</h5>
                        </div>
                        <div class="card-footer">
                            ${{ component.price }}
                        </div>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}