{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="col-8 offset-2 my-4">
        <div class="card">
            <h1 class="card-header text-center">
                <i class="bi bi-list-ul"></i>
                Component List
            </h1>


            <div class="accordion" id="searchAccordion">
                <div class="accordion-item" style="border-radius: 0;">
                    <h2 class="accordion-header" id="headingOne" >
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="border-radius: 0;">
                            <i class="bi bi-search"></i>
                            &nbsp;&nbsp;Search Options
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>



            {% for component in components %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="row"><div class="card-group">
                {% endif %}

                    <div class="card" style="border-top: none; border-radius: 0;">
                        <img src="{{ component.image.url }}" class="card-img-top px-4 py-2">

                        <div class="card-body">
                            <h5 class="card-title">{{ component.name }}</h5>
                        </div>
                        <div class="card-footer">
                            ${{ component.price }}
                        </div>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}