{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="col-10 offset-1 my-4">
        <div class="card">
            <h2 class="card-header">
                <i class="bi bi-list-ul"></i>
                Component Search
            </h2>

            <div class="row">


            {% for component in components %}
                <div class="col-5" style="border: solid 1px var(--nav-grey)">
                    <img src="{{ component.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ component.name }}</h5>
                        <div class="card-text">
                            {{ component.price }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}