{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="col-8 offset-2 my-4">
        <div class="card">
            <h1 class="card-header text-center">
                <i class="bi bi-clipboard-check"></i>
                {{ build.name }}
            </h1>

            <div class="row my-3">
                <div class="col-5 offset-1 text-center">
                    <div class="card-text" style="font-size: 1.3rem;">
                        Total cost: <strong>${{ build.total_price }}</strong>
                    </div>
                </div>
                <div class="col-5 text-center">
                    <div class="card-text" style="font-size: 1.3rem;">
                        Selected <strong>{{ build.component_count }}&nbsp;/&nbsp;8</strong> components
                    </div>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-10 offset-1">
                    <div class="accordion" id="buildAccordion">
                        {# case accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingCase" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCase" aria-expanded="true" aria-controls="collapseCase">
                                    <i class="bi bi-box"></i>
                                    &nbsp;&nbsp;Case
                                </button>
                            </h2>
                            <div id="collapseCase" class="accordion-collapse collapse" aria-labelledby="headingCase">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.case %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.case.id %}">{{ build.case.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.case.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'case' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>case</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# cooler accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingCooler" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCooler" aria-expanded="true" aria-controls="collapseCooler">
                                    <i class="bi bi-fan"></i>
                                    &nbsp;&nbsp;Cooler
                                </button>
                            </h2>
                            <div id="collapseCooler" class="accordion-collapse collapse" aria-labelledby="headingCooler">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.cooler %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.cooler.id %}">{{ build.cooler.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.cooler.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'cooler' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>cooler</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# cpu accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingCPU" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU" aria-expanded="true" aria-controls="collapseCPU">
                                    <i class="bi bi-cpu"></i>
                                    &nbsp;&nbsp;CPU
                                </button>
                            </h2>
                            <div id="collapseCPU" class="accordion-collapse collapse" aria-labelledby="headingCPU">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.cpu %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.cpu.id %}">{{ build.cpu.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.cpu.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'cpu' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>CPU</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# graphics accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingGraphics" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraphics" aria-expanded="true" aria-controls="collapseGraphics">
                                    <i class="bi bi-gpu-card"></i>
                                    &nbsp;&nbsp;Graphics
                                </button>
                            </h2>
                            <div id="collapseGraphics" class="accordion-collapse collapse" aria-labelledby="headingGraphics">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.graphics %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.graphics.id %}">{{ build.graphics.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.graphics.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'graphics' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>graphics card</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# mobo accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingMobo" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMobo" aria-expanded="true" aria-controls="collapseMobo">
                                    <i class="bi bi-motherboard"></i>
                                    &nbsp;&nbsp;Motherboard
                                </button>
                            </h2>
                            <div id="collapseMobo" class="accordion-collapse collapse" aria-labelledby="headingMobo">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.motherboard %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.motherboard.id %}">{{ build.motherboard.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.motherboard.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'motherboard' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>motherboard</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# psu accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingPSU" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePSU" aria-expanded="true" aria-controls="collapsePSU">
                                    <i class="bi bi-plug"></i>
                                    &nbsp;&nbsp;Power Supply
                                </button>
                            </h2>
                            <div id="collapsePSU" class="accordion-collapse collapse" aria-labelledby="headingPSU">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.powersupply %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.powersupply.id %}">{{ build.powersupply.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.powersupply.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'powersupply' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen a <strong>PSU</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# ram accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingRAM" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRAM" aria-expanded="true" aria-controls="collapseRAM">
                                    <i class="bi bi-memory"></i>
                                    &nbsp;&nbsp;Memory
                                </button>
                            </h2>
                            <div id="collapseRAM" class="accordion-collapse collapse" aria-labelledby="headingRAM">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.ram %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.ram.id %}">{{ build.ram.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.ram.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'ram' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen <strong>RAM</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# storage accordion item #}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingStorage" >
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStorage" aria-expanded="true" aria-controls="collapseStorage">
                                    <i class="bi bi-device-hdd"></i>
                                    &nbsp;&nbsp;Storage
                                </button>
                            </h2>
                            <div id="collapseStorage" class="accordion-collapse collapse" aria-labelledby="headingStorage">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% if build.storage %}
                                            <div class="col-6" style="border-right: 1px solid lightgrey">
                                                <a href="{% url 'components:detail' build.storage.id %}">{{ build.storage.name }}</a>
                                            </div>
                                            <div class="col-2 text-center my-auto">
                                                <strong>${{ build.storage.price }}</strong>
                                            </div>
                                            <div class="d-grid gap-2 col-4 mx-auto" style="border-left: 1px solid lightgrey">
                                                    <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-search"></i>
                                                        Search components
                                                    </a>
                                                    <a href="{% url 'builds:remove_component' build.id 'storage' %}" class="btn btn-sm btn-orange">
                                                        <i class="bi bi-eraser"></i>
                                                        Remove from plan
                                                    </a>
                                            </div>
                                        {% else %}
                                            <div class="col-6 text-center" style="border-right: 1px solid lightgrey">
                                                You haven't chosen <strong>storage</strong> yet!
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{% url 'components:search' %}" class="btn btn-sm btn-primary mb-2">
                                                    <i class="bi bi-search"></i>
                                                    Search components
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-4 text-center">
                        <a href="{% url 'builds:build_list' %}" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>
                            Back to build list
                        </a>
                    </div>
                    <div class="col-4 text-center">
                        <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#editNameModal">
                            <i class="bi bi-pencil-square"></i>
                            Edit build name
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="editNameModal" tabindex="-1" aria-labelledby="editNameModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editNameModalLabel">
                                                <i class="bi bi-pencil-square"></i>
                                                Edit plan name
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ form.name }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                <i class="bi bi-x-octagon"></i>
                                                Close
                                            </button>
                                            <input type="submit" class="btn btn-orange" value="Save changes">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBuildModal">
                            <i class="bi bi-trash3"></i>
                            Delete this build plan
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteBuildModal" tabindex="-1" aria-labelledby="deleteBuildModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteBuildModalLabel">
                                            <i class="bi bi-trash3"></i>
                                            Delete Build Plan?
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to <span class="text-danger">delete</span> this build?<br>
                                        This action cannot be undone!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <i class="bi bi-x-octagon"></i>
                                            Close
                                        </button>
                                        <a class="btn btn-danger" href="{% url 'builds:delete_build' build.id %}">
                                            Delete!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}